<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.android.app.fourquadrantnote">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.VIBRATE"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <application
        android:name="com.android.app.FourQuardNoteApplication"
        android:label="@string/app_name"
        android:theme="@style/notitle">
        <activity android:name="com.android.app.view.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.android.app.view.NewNoteActivity" />
        <activity android:name="com.android.app.view.FourQuadrandActivity" />
        <activity android:name="com.android.app.view.NoteActivity" />
        <activity android:name="com.android.app.view.SetActivity" />
        <activity android:name="com.android.app.view.LoginActivity" />
        <activity android:name="com.android.app.view.RegisterActivity" />
        <activity android:name="com.android.app.view.ChangPasswordActivity"></activity>
    </application>

    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <meta-data
        android:name="com.baidu.speech.APP_ID"
        android:value="11522774" />
    <!-- 请填写应用实际的API_KEY -->
    <meta-data
        android:name="com.baidu.speech.API_KEY"
        android:value="uhXcGh3nqZCEDGHlUAhf4mKB" />
    <!-- 请填写应用实际的SECRET_KEY -->
    <meta-data
        android:name="com.baidu.speech.SECRET_KEY"
        android:value="ZML6pcVjmGItGipwT8uup10fV9v1mmqp" />

</manifest>